<!DOCTYPE html>
<html lang="tk">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Admin Login</title>


<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>


<body>


<header class="header">

<div class="container">

<div class="logo">
ADMIN PANEL
</div>

</div>

</header>




<section class="container">


<div class="form-card">



<h1>

Admin giriş

</h1>



<form method="POST" action="/admin/login">



<label>

Admin paroly

</label>



<input

type="password"

name="password"

placeholder="Parol"

required>



<button

class="btn"

type="submit">

Girmek

</button>



</form>



</div>


</section>



</body>

</html>
