<!DOCTYPE html>
<html lang="tk">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Hasaba alyş</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<header class="header">

<div class="container">

<div class="logo">
PUBG TOURNAMENT
</div>

<nav>

<a href="/">
Baş sahypa
</a>

</nav>

</div>

</header>




<section class="container">


<div class="form-card">


<h1>
Oýunçy hasaba alyş
</h1>



<form method="POST">



<label>
Adyňyz
</label>

<input 
type="text"
name="name"
placeholder="Adyňyzy giriziň"
required>



<label>
PUBG ID
</label>

<input 
type="text"
name="pubg_id"
placeholder="PUBG ID"
required>



<label>
Telefon
</label>

<input 
type="text"
name="phone"
placeholder="Telefon belgisi"
required>



<label>
Habarlaşmak
</label>

<input 
type="text"
name="contact"
placeholder="Telegram ýa-da WhatsApp"
required>




<button class="btn" type="submit">

Ýazylmak

</button>



</form>


</div>


</section>



<footer>

PUBG MOBILE TOURNAMENT © 2026

</footer>



<script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>

</html>
