<!DOCTYPE html>
<html lang="tk">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Topar döretmek</title>


<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>


<body>



<header class="header">

<div class="container">

<div class="logo">
PUBG TOURNAMENT
</div>


<nav>

<a href="/">
Baş sahypa
</a>


<a href="/profil">
Profil
</a>


</nav>


</div>

</header>





<section class="container">



<div class="form-card">



<h1>

Topar döretmek

</h1>




<form method="POST">



<label>

Topar ady

</label>



<input

type="text"

name="team_name"

placeholder="Toparyň ady"

required>



<button

class="btn"

type="submit">

Topar döret

</button>



</form>



</div>



</section>





<script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>


</html>
